*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}
.contenedor{
    height: 93.98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
}
.contenedor_titulo h2{
    width: 28.5rem;
    font-size: 4rem;
}
.contenedor_titulo h2:nth-child(1){
    color: #01c2b9;
}
.contenedor_titulo h2:nth-child(2){
    color: #0073f1;
}